@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&family=Mulish:wght@300;400;500;600;700&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[title] {
    position: relative;
}

[title]:after {
    content: attr(title);
    position: absolute;
    left: 20%;
    top: 80%;
    background-color:rgba(220, 220, 220, 0.5); ;
    width: max-content;
    padding: 5px 3px;
    border-radius: 10px;
    display: none;
    transition: opacity 0.75s ease-in-oute;
    -webkit-transition: opacity 0.75s ease-in-out;
}

[title]:hover:after {
    display: block;
}

@layer base{
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select{
        @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-primary-middle focus:ring-primary-middle;
    }

    body {
        @apply dark:bg-dark
    }
}

@layer components {

    .btn {
        @apply rounded-xl py-2 px-4 mx-2 font-bold cursor-pointer shadow-md hover:-translate-y-0.5 transform transition duration-300
    }

    .btn-transparent {
        @apply rounded-xl py-1 px-3 mx-3 font-bold cursor-pointer hover:-translate-y-0.5 transform transition duration-300
    }

    .btn-gray-out {
        @apply bg-gray-300 text-white dark:bg-gray-700 dark:text-gray-400 rounded-xl py-1 px-3 font-bold cursor-not-allowed shadow-md;
    }

    .primary-dark {
        @apply bg-primary-dark hover:bg-primary-light text-white;
    }
    
    .primary-middle {
        @apply bg-primary-middle hover:bg-primary-light active:bg-primary-dark text-white;
    }
    
    .primary-light {
        @apply bg-primary-light active:bg-primary-middle text-white;
    }
    
    .secondary-dark {
        @apply bg-secondary-dark hover:bg-secondary-light text-dark;
    }
    
    .secondary-middle {
        @apply bg-secondary-middle hover:bg-secondary-light active:bg-secondary-dark text-dark;
    }
    
    .secondary-light {
        @apply bg-secondary-light active:bg-secondary-middle text-dark;
    }
    
    .left-icon {
        @apply h-6 align-middle mr-3 ml-1;
    }

    .btn-close {
        /* background: transparent url("asset/icon/close-btn.svg")50%/1em auto no-repeat; */
        box-sizing: initial;
        @apply p-1 absolute right-2 top-2 h-2 w-2 border-none rounded-2xl opacity-50;
    }
     
    .instructions-container {
        @apply relative border border-opacity-30 bg-opacity-30 rounded-2xl items-center flex flex-wrap p-2 pr-8 text-sm;
    }
}

.form-control {
    @apply text-dark ;
    -webkit-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 1rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3;
    padding: 0.4rem 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.form-control:focus {
    @apply border-primary-light;
    background-color: #f8f9fa;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 0 0.25rem rgba(108,93,211,.25);
    outline: 0;
}

.form-label {
    @apply dark:text-white text-base
}

.sidebar {
    @apply fixed top-0 bottom-0 lg:left-0 m-2 p-1 rounded-lg text-center bg-primary-dark dark:bg-dark shadow-lg;
    transition: width 500ms ease-in;
    width: 3rem;
}

.sidebar:hover { 
    @apply bg-opacity-50 backdrop-blur ;
    width: 16rem;
}

.sidebar-menu-button {
    @apply grid grid-cols-6 gap-1 h-10 items-center rounded-md cursor-pointer hover:bg-primary-middle hover:shadow-lg text-gray-200
}

.sidebar-menu-text {
    @apply hidden col-span-5 text-[15px] text-gray-200 self-center justify-self-start select-none
}

.sidebar-menu-img { 
    @apply w-10 h-6
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.powerbi-container {
    position: relative;
    padding-bottom: 56.25%; /* Esta proporción (56.25%) es para mantener la relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
}
  
.powerbi-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-btn {
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre la imagen */
    border: none; /* Elimina el borde predeterminado */
    outline: none; /* Elimina el contorno predeterminado */
    padding: 0; /* Elimina el relleno */
    background: none; /* Elimina el fondo */
}